interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1745081013817)","ST":"Date(1745081013817)","DT":"Date(1745081013817-0400)","Value":224,"Trend":"Flat"}]'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - 350254e5-85b9-46f7-83c7-591368ec6631
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1750022969925)","ST":"Date(1750022969925)","DT":"Date(1750022969925-0400)","Value":175,"Trend":"Flat"}]'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - 3f6e1733-e558-4002-8a83-b51f5ce78619
    status:
      code: 200
      message: OK
version: 1
