interactions:
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountName":
      "u$ern@me", "password": "password"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/AuthenticatePublisherAccount
  response:
    body:
      string: '{"Code":"SSO_InternalError","Message":"Synchronization of SSO account
        during authenticate call failed Time out issue.  AccountName=u$ern@me Error
        encountered accessing Keycloak endpoint: UAM_ERROR: HttpStatus=''401 UNAUTHORIZED(401)''
        Msg=Cannot Authenticate by AccountName=''u$ern@me''","SubCode":"<OnlineException
        DateThrownLocal=\"2024-07-21T00:59:42.60097406\" DateThrown=\"2024-07-21T00:59:42.60097406Z\"
        ErrorCode=\"SSO_InternalError\" Type=\"15\" Category=\"1\" Severity=\"2\"
        TypeString=\"SingleSignOn\" CategoryString=\"System\" SeverityString=\"Severe\"
        HostName=\"\" HostIP=\"\" Id=\"{55555555-5555-5555-5555-555555555555}\" Message=\"Synchronization
        of SSO account during authenticate call failed Time out issue.  AccountName=u$ern@me
        Error encountered accessing Keycloak endpoint: UAM_ERROR: HttpStatus=''401
        UNAUTHORIZED(401)'' Msg=Cannot Authenticate by AccountName=''u$ern@me''\"
        FullText=\"com.dexcom.udp.common.data.exception.OnlineException: Synchronization
        of SSO account during authenticate call failed Time out issue.  AccountName=u$ern@me
        Error encountered accessing Keycloak endpoint: UAM_ERROR: HttpStatus=''401
        UNAUTHORIZED(401)'' Msg=Cannot Authenticate by AccountName=''u$ern@me''\"
        />","TypeName":"FaultException"}'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - 0bcdc445-8f7c-4927-9438-eccd0d2f2890
    status:
      code: 500
      message: Internal Server Error
[...]
