interactions:
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountName":
      "username", "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/AuthenticatePublisherAccount
  response:
    body:
      string: '{"Code":"AccountPasswordInvalid","Message":"Publisher account password
        failed","SubCode":"<OnlineException DateThrownLocal=\"2023-08-06T18:31:46.108\"
        DateThrown=\"2023-08-06T18:31:46.108Z\" ErrorCode=\"AccountPasswordInvalid\"
        Type=\"13\" Category=\"4\" Severity=\"1\" TypeString=\"InvalidPassword\" CategoryString=\"Validation\"
        SeverityString=\"Minor\" HostName=\"\" HostIP=\"\" Id=\"{55555555-5555-5555-5555-555555555555}\"
        Message=\"Publisher account password failed\" FullText=\"com.dexcom.udp.common.data.exception.OnlineException:
        Publisher account password failed\" />","TypeName":"FaultException"}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 961862ea-c7e4-4c3a-8adb-6e2c0c0533bf
    status:
      code: 500
      message: Internal Server Error
version: 1
