interactions:
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountId":
      1, "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountById
  response:
    body:
      string: '{"Code":"InvalidArgument","Message":"Missing required field(s): JSON
        parse error: Cannot deserialize value of type `java.util.UUID` from String
        \"1\": UUID has to be represented by standard 36-char representation","SubCode":"<OnlineException
        DateThrownLocal=\"2024-07-21T00:59:38.743587469\" DateThrown=\"2024-07-21T00:59:38.743587469Z\"
        ErrorCode=\"InvalidArgument\" Type=\"10\" Category=\"4\" Severity=\"2\" TypeString=\"InvalidArgument\"
        CategoryString=\"Validation\" SeverityString=\"Severe\" HostName=\"\" HostIP=\"\"
        Id=\"{55555555-5555-5555-5555-555555555555}\" Message=\"Missing required field(s):
        JSON parse error: Cannot deserialize value of type `java.util.UUID` from String
        \"1\": UUID has to be represented by standard 36-char representation\" FullText=\"com.dexcom.udp.common.data.exception.OnlineException:
        Missing required field(s): JSON parse error: Cannot deserialize value of type
        `java.util.UUID` from String \"1\": UUID has to be represented by standard
        36-char representation\" />","TypeName":"FaultException"}'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - 3076466e-be4f-4147-a965-de177599618c
    status:
      code: 500
      message: Internal Server Error
version: 1
