interactions:
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountName":
      "u$ern@me", "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/AuthenticatePublisherAccount
  response:
    body:
      string: '"99999999-9999-9999-9999-999999999999"'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 231b4297-8820-40ad-9e1d-c8642e95caec
    status:
      code: 200
      message: OK
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountId":
      "99999999-9999-9999-9999-999999999999", "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountById
  response:
    body:
      string: '"55555555-5555-5555-5555-555555555555"'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 800dbcca-29e8-4485-9a98-f0d908028452
    status:
      code: 200
      message: OK
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountName":
      "u$ern@me", "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/AuthenticatePublisherAccount
  response:
    body:
      string: '"99999999-9999-9999-9999-999999999999"'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - 8074a08b-c8a6-40ae-991b-cd176a31c005
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountId":
      "99999999-9999-9999-9999-999999999999", "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountById
  response:
    body:
      string: '"55555555-5555-5555-5555-555555555555"'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - da430cbd-5188-4855-974f-f2ff84c2a4c6
    status:
      code: 200
      message: OK
version: 1
