interactions:
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountName":
      "u$ern@me", "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/AuthenticatePublisherAccount
  response:
    body:
      string: '"99999999-9999-9999-9999-999999999999"'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - b72aa761-7a7a-4f35-8966-76f202c62c9d
    status:
      code: 200
      message: OK
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountId":
      "99999999-9999-9999-9999-999999999999", "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountById
  response:
    body:
      string: '"55555555-5555-5555-5555-555555555555"'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 0f633a4e-a218-49ea-b02a-1ad3750a20fc
    status:
      code: 200
      message: OK
version: 1
