interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=33333333-3333-3333-3333-333333333333
  response:
    body:
      string: '{"Code":"SessionIdNotFound","Message":"Failed to find session object.
        [SessionId = 33333333-3333-3333-3333-333333333333]","SubCode":"<OnlineException
        DateThrownLocal=\"2023-08-06T18:31:49.468\" DateThrown=\"2023-08-06T18:31:49.468Z\"
        ErrorCode=\"SessionIdNotFound\" Type=\"5\" Category=\"2\" Severity=\"2\" TypeString=\"ObjectNotFound\"
        CategoryString=\"Database\" SeverityString=\"Severe\" HostName=\"\" HostIP=\"\"
        Id=\"{55555555-5555-5555-5555-555555555555}\" Message=\"Failed to find session
        object. [SessionId = 33333333-3333-3333-3333-333333333333]\" FullText=\"com.dexcom.udp.common.data.exception.OnlineException:
        Failed to find session object. [SessionId = 33333333-3333-3333-3333-333333333333]\"
        />","TypeName":"FaultException"}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 0fcceb2a-295e-4cea-bcfa-5d98245ef27c
    status:
      code: 500
      message: Internal Server Error
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountId":
      "99999999-9999-9999-9999-999999999999", "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountById
  response:
    body:
      string: '"55555555-5555-5555-5555-555555555555"'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 81f15434-f717-40ff-82dd-f265c7331512
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1691346655000)","ST":"Date(1691346655000)","DT":"Date(1691346655000-0400)","Value":127,"Trend":"Flat"}]'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 39a2002c-263a-4063-9d69-3a1613fa3f42
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=33333333-3333-3333-3333-333333333333
  response:
    body:
      string: '{"Code":"SessionIdNotFound","Message":"Failed to find session object.
        [SessionId = 33333333-3333-3333-3333-333333333333]","SubCode":"<OnlineException
        DateThrownLocal=\"2024-07-21T00:54:48.155248347\" DateThrown=\"2024-07-21T00:54:48.155248347Z\"
        ErrorCode=\"SessionIdNotFound\" Type=\"5\" Category=\"2\" Severity=\"2\" TypeString=\"ObjectNotFound\"
        CategoryString=\"Database\" SeverityString=\"Severe\" HostName=\"\" HostIP=\"\"
        Id=\"{55555555-5555-5555-5555-555555555555}\" Message=\"Failed to find session
        object. [SessionId = 33333333-3333-3333-3333-333333333333]\" FullText=\"com.dexcom.udp.common.data.exception.OnlineException:
        Failed to find session object. [SessionId = 33333333-3333-3333-3333-333333333333]\"
        />","TypeName":"FaultException"}'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - c25d3f0d-0a1e-4ba5-940a-b6c67c2abe53
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1721528393435)","ST":"Date(1721528393435)","DT":"Date(1721528393435-0400)","Value":248,"Trend":"Flat"}]'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - 2a8b080e-1dfb-4397-9bca-181c68991ea1
    status:
      code: 200
      message: OK
version: 1
