interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=33333333-3333-3333-3333-333333333333
  response:
    body:
      string: '{"Code":"SessionIdNotFound","Message":"Failed to find session object.
        [SessionId = 33333333-3333-3333-3333-333333333333]","SubCode":"<OnlineException
        DateThrownLocal=\"2023-08-06T12:26:34.283\" DateThrown=\"2023-08-06T12:26:34.283Z\"
        ErrorCode=\"SessionIdNotFound\" Type=\"5\" Category=\"2\" Severity=\"2\" TypeString=\"ObjectNotFound\"
        CategoryString=\"Database\" SeverityString=\"Severe\" HostName=\"\" HostIP=\"\"
        Id=\"{55555555-5555-5555-5555-555555555555}\" Message=\"Failed to find session
        object. [SessionId = 33333333-3333-3333-3333-333333333333]\" FullText=\"com.dexcom.udp.common.data.exception.OnlineException:
        Failed to find session object. [SessionId = 33333333-3333-3333-3333-333333333333]\"
        />","TypeName":"FaultException"}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - e51080aa-00bb-47c8-a16d-235684c69912
    status:
      code: 500
      message: Internal Server Error
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountId":
      "99999999-9999-9999-9999-999999999999", "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountById
  response:
    body:
      string: '"55555555-5555-5555-5555-555555555555"'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 7348f426-e519-493a-b389-18519b2817c6
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1691324755000)","ST":"Date(1691324755000)","DT":"Date(1691324755000-0400)","Value":123,"Trend":"Flat"}]'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - a4656a2f-5a26-4b31-ae52-e8f6e277f50a
    status:
      code: 200
      message: OK
version: 1
