interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1691346655000)","ST":"Date(1691346655000)","DT":"Date(1691346655000-0400)","Value":127,"Trend":"Flat"}]'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 3a5c08ae-43a5-4120-8b55-08929aa1cb00
    status:
      code: 200
      message: OK
version: 1
