interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=1440&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1691346655000)","ST":"Date(1691346655000)","DT":"Date(1691346655000-0400)","Value":127,"Trend":"Flat"}]'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - b28e23ac-7512-4c45-a1f6-e6a221c03143
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=1440&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1721522993527)","ST":"Date(1721522993527)","DT":"Date(1721522993527-0400)","Value":311,"Trend":"FortyFiveUp"}]'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - 73308f20-9fcd-46dc-b6a8-ac361e2e3e89
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=1440&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1721528393435)","ST":"Date(1721528393435)","DT":"Date(1721528393435-0400)","Value":248,"Trend":"Flat"}]'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - 2658406c-3e90-4b50-bfa5-e1499ef272d4
    status:
      code: 200
      message: OK
version: 1
