interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1691324755000)","ST":"Date(1691324755000)","DT":"Date(1691324755000-0400)","Value":123,"Trend":"Flat"}]'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 65d3d9fd-1663-40d8-966c-0a090e5ef6f2
    status:
      code: 200
      message: OK
version: 1
