interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=33333333-3333-3333-3333-333333333333
  response:
    body:
      string: '{"Code":"SessionIdNotFound","Message":"Failed to find session object.
        [SessionId = 33333333-3333-3333-3333-333333333333]","SubCode":"<OnlineException
        DateThrownLocal=\"2023-08-05T12:49:17.441\" DateThrown=\"2023-08-05T12:49:17.441Z\"
        ErrorCode=\"SessionIdNotFound\" Type=\"5\" Category=\"2\" Severity=\"2\" TypeString=\"ObjectNotFound\"
        CategoryString=\"Database\" SeverityString=\"Severe\" HostName=\"\" HostIP=\"\"
        Id=\"{55555555-5555-5555-5555-555555555555}\" Message=\"Failed to find session
        object. [SessionId = 33333333-3333-3333-3333-333333333333]\" FullText=\"com.dexcom.udp.common.data.exception.OnlineException:
        Failed to find session object. [SessionId = 33333333-3333-3333-3333-333333333333]\"
        />","TypeName":"FaultException"}'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - d5ea0aa1-ee0a-40a4-8271-6bca8389821a
    status:
      code: 500
      message: Internal Server Error
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountId":
      "99999999-9999-9999-9999-999999999999", "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountById
  response:
    body:
      string: '"55555555-5555-5555-5555-555555555555"'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - e3ddc473-a83e-41a1-a9fb-0c459e6a62c1
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1691239553000)","ST":"Date(1691239553000)","DT":"Date(1691239553000-0400)","Value":132,"Trend":"FortyFiveUp"}]'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 54993399-42fc-45a2-a059-4f5baacf6d1c
    status:
      code: 200
      message: OK
version: 1
