interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=1440&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1691239553000)","ST":"Date(1691239553000)","DT":"Date(1691239553000-0400)","Value":132,"Trend":"FortyFiveUp"}]'
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - 366a13df-a042-4cc0-bae5-ef6daf30c11c
    status:
      code: 200
      message: OK
version: 1
