interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=1440&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1745081013817)","ST":"Date(1745081013817)","DT":"Date(1745081013817-0400)","Value":224,"Trend":"Flat"}]'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - fe175def-d93e-4f98-ac46-b99162e6589e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=1440&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1750022969925)","ST":"Date(1750022969925)","DT":"Date(1750022969925-0400)","Value":175,"Trend":"Flat"}]'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - eca1e7f9-1e45-471e-bec0-3e92b83c084d
    status:
      code: 200
      message: OK
version: 1
