interactions:
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountId":
      "77777777-7777-7777-7777-777777777777", "password": "password"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountById
  response:
    body:
      string: '{"Code":"AccountPasswordInvalid","Message":"Publisher account password
        failed","SubCode":"<OnlineException DateThrownLocal=\"2025-04-19T16:47:53.539720546\"
        DateThrown=\"2025-04-19T16:47:53.539720546Z\" ErrorCode=\"AccountPasswordInvalid\"
        Type=\"13\" Category=\"4\" Severity=\"1\" TypeString=\"InvalidPassword\" CategoryString=\"Validation\"
        SeverityString=\"Minor\" HostName=\"\" HostIP=\"\" Id=\"{236f6b24-adc3-4fb0-bdc0-4a78525ed685}\"
        Message=\"Publisher account password failed\" FullText=\"com.dexcom.udp.common.data.exception.OnlineException:
        Publisher account password failed\" />","TypeName":"FaultException"}'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - ba829c02-51d5-4b6d-adc4-71f482797573
    status:
      code: 500
      message: Internal Server Error
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountId":
      "77777777-7777-7777-7777-777777777777", "password": "password"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountById
  response:
    body:
      string: '{"Code":"AccountPasswordInvalid","Message":"Publisher account password
        failed","SubCode":"<OnlineException DateThrownLocal=\"2025-06-15T21:34:32.282374315\"
        DateThrown=\"2025-06-15T21:34:32.282374315Z\" ErrorCode=\"AccountPasswordInvalid\"
        Type=\"13\" Category=\"4\" Severity=\"1\" TypeString=\"InvalidPassword\" CategoryString=\"Validation\"
        SeverityString=\"Minor\" HostName=\"\" HostIP=\"\" Id=\"{7aa23b61-7019-4d7f-b538-43db64fc76d4}\"
        Message=\"Publisher account password failed\" FullText=\"com.dexcom.udp.common.data.exception.OnlineException:
        Publisher account password failed\" />","TypeName":"FaultException"}'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - 09d8f826-3f03-409f-847e-3c4d008a9906
    status:
      code: 500
      message: Internal Server Error
version: 1
