interactions:
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountId":
      "99999999-9999-9999-9999-999999999999", "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://shareous1.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountById
  response:
    body:
      string: '{"Code":"AccountPasswordInvalid","Message":"Publisher account password
        failed","SubCode":"<OnlineException DateThrownLocal=\"2025-04-19T16:47:50.165685739\"
        DateThrown=\"2025-04-19T16:47:50.165685739Z\" ErrorCode=\"AccountPasswordInvalid\"
        Type=\"13\" Category=\"4\" Severity=\"1\" TypeString=\"InvalidPassword\" CategoryString=\"Validation\"
        SeverityString=\"Minor\" HostName=\"\" HostIP=\"\" Id=\"{ec7425fb-997d-41e1-917c-e1bf472ecaac}\"
        Message=\"Publisher account password failed\" FullText=\"com.dexcom.udp.common.data.exception.OnlineException:
        Publisher account password failed\" />","TypeName":"FaultException"}'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - d66578a2-a2fc-4757-b3be-eb36cf1bfa95
    status:
      code: 500
      message: Internal Server Error
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountId":
      "99999999-9999-9999-9999-999999999999", "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://shareous1.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountById
  response:
    body:
      string: '{"Code":"AccountPasswordInvalid","Message":"Publisher account password
        failed","SubCode":"<OnlineException DateThrownLocal=\"2025-06-15T21:34:29.217076854\"
        DateThrown=\"2025-06-15T21:34:29.217076854Z\" ErrorCode=\"AccountPasswordInvalid\"
        Type=\"13\" Category=\"4\" Severity=\"1\" TypeString=\"InvalidPassword\" CategoryString=\"Validation\"
        SeverityString=\"Minor\" HostName=\"\" HostIP=\"\" Id=\"{10b89b96-11aa-4b24-b2dd-fb37cca5e43b}\"
        Message=\"Publisher account password failed\" FullText=\"com.dexcom.udp.common.data.exception.OnlineException:
        Publisher account password failed\" />","TypeName":"FaultException"}'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - 5fefa6cf-ee2d-4b4f-9eea-0360dac91ce5
    status:
      code: 500
      message: Internal Server Error
version: 1
