interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10
  response:
    body:
      string: '{"Code":"SessionIdNotFound","Message":"Failed to find session object.
        [SessionId = 33333333-3333-3333-3333-333333333333]","SubCode":"<OnlineException
        DateThrownLocal=\"2025-04-19T16:46:06.060899548\" DateThrown=\"2025-04-19T16:46:06.060899548Z\"
        ErrorCode=\"SessionIdNotFound\" Type=\"5\" Category=\"2\" Severity=\"2\" TypeString=\"ObjectNotFound\"
        CategoryString=\"Database\" SeverityString=\"Severe\" HostName=\"\" HostIP=\"\"
        Id=\"{0d90b4de-f876-4155-9e6d-7886c2d9ebf5}\" Message=\"Failed to find session
        object. [SessionId = 33333333-3333-3333-3333-333333333333]\" FullText=\"com.dexcom.udp.common.data.exception.OnlineException:
        Failed to find session object. [SessionId = 33333333-3333-3333-3333-333333333333]\"
        />","TypeName":"FaultException"}'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - 68ab35ad-5529-4928-b40c-9fc909f70c3f
    status:
      code: 500
      message: Internal Server Error
- request:
    body: '{"applicationId": "d89443d2-327c-4a6f-89e5-496bbb0317db", "accountId":
      "99999999-9999-9999-9999-999999999999", "password": "p@$$w0rd"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/General/LoginPublisherAccountById
  response:
    body:
      string: '"55555555-5555-5555-5555-555555555555"'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - e22f780e-bbfa-4a12-8bec-14d056952580
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1745081013817)","ST":"Date(1745081013817)","DT":"Date(1745081013817-0400)","Value":224,"Trend":"Flat"}]'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - 7214b599-0268-4d89-9455-cfd948edcda7
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://share2.dexcom.com/ShareWebServices/Services/Publisher/ReadPublisherLatestGlucoseValues?maxCount=1&minutes=10&sessionId=55555555-5555-5555-5555-555555555555
  response:
    body:
      string: '[{"WT":"Date(1750022969925)","ST":"Date(1750022969925)","DT":"Date(1750022969925-0400)","Value":175,"Trend":"Flat"}]'
    headers:
      Content-Type:
      - application/json
      x-trace-id:
      - 9c90e3c4-ea44-4d76-ba58-679e29e8fb94
    status:
      code: 200
      message: OK
version: 1
